.l-page {
  max-width: 1024px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.l-substrate {
  position: relative;
}
.l-substrate:before,
.l-substrate:after
{
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  width: 2000px;
  background: inherit;
}
.l-substrate:before {
  left: -2000px;
}
.l-substrate:after {
  right: -2000px;
}

.l-centered {
  text-align: center;
}


