@media all and (min-width: 360px) {
  /*.places__plan {
    padding-bottom: 180px;
    overflow-x: hidden;
  }*/
}

@media all and (min-width: 375px) {
  .main__confirm .btn {
    height: 3.5667em;
    font-size: 1.5em;
    padding: 0 1.583em;
    max-width: 315px;
  }
  /*.plan {
    width: 368px;
  }
  .plan__numbers {
    margin-left: -30px;
  }

  .plan__center {
    margin: 0 8px;
  }*/
}

@media all and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
    font-size: 16px;
    line-height: 1.388;
  }

  .legend__title {
    font-size: 3em;
    line-height: 1.16667;
    padding-top: .9rem;
  }

  .select__title {
    font-size: 2em;
  }

  .select {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .select__divider {
    font-size: 64px;
    height: 64px;
    display: inline-block;
    min-width: 64px;
    padding: 0 40px;
  }

  .card {
    padding-left: 2em;
    padding-right: 2em;
    width: 50%;
  }
  .card__notice span {
    display: inline-block;
  }

  .close-toggler {
    width: 32px;
    height: 32px;
  }
  .close-toggler span, .close-toggler span:before, .close-toggler span:after {
    width: 20px;
    height: 2px;
  }
  .close-toggler span{
    top: 15px;
    left: 6px;
  }

  .main__inform, .main__notice, .main__footer{
    max-width: 65%;
  }

  .main__inform {
    padding-left: 2em;
    padding-right: 2em;
  }

  .main__confirm .btn {
    max-width: 400px;
  }

  /*.places {
    width: 718px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: absolute;
    overflow: hidden;

    display: flex;
    bottom: auto;
    left: 50%;
    margin-left: -359px;
  }

  .places.is-active {
    top: 250px;
  }

  .places:before{
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
  }

  .places:after{
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
    z-index: -1;
  }

  .places__selector {
    flex: 1 1 auto;
    padding: 1.7778em 0 1.7778em 1.7778em;
  }

  .places__plan {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    padding-bottom: 28px;
    margin: 30px 0 30px;
  }
  .places__legend {
    position: absolute;
    box-shadow: unset;
    left: 312px;
    right: 20px;
    bottom: 0;
    padding-bottom: 10px;
  }

  .places__toggler {
    position: absolute;
    right: 414px;
    text-align: center;
  }

  .places__title {
    font-size: 0.888em;
    margin-right: 2em;
  }

  .places__toggler .btn {
    display: inline-block;
    margin-bottom: 0.5em;
  }

  .places__toggler .btn-off {
    margin-top: 0;
  }

  .places__close {
    z-index: 3;
    right: 2px;
    top: 2px;
  }*/

  .selector__inner {
    border: 0;
    position: relative;
    max-height: unset;
    background: transparent;
    border-radius: 0;
  }
  .selector__title {
    font-size: 1em;
  }

  .selector.is-active .selector__inner,
  .selector:hover .selector__inner {
    box-shadow: unset;
  }

  .selector__item, .selector__item:first-child {
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    margin-bottom: 0.5em;
    margin-right: 1rem;
  }

  .selector__item.is-selected {
    position: relative;
    margin-right: 0;
    border-radius: 8px 0 0 8px;
    background: #fff;
    border: 1px #fff solid;
  }

  .selector__toggler {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .cards {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
