doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Checkin24.ru
    link(rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png")
    link(rel="stylesheet", href="~/styles/main.css")
  body
  div#app

  script(src="~/main.js")