$text-field-enclosed-details-padding: 0 20px;
// $text-field-outlined-fieldset-border: 2px solid #07237E;
// $text-field-rounded-legend-margin: 20px;
$btn-font-sizes: 18px;
$text-field-append-prepend-margin: 0;
// $text-field-enclosed-details-padding: 0;